### Lab Exercise
There are two edited versions of the "college data files" in the repository;  one for 2015/2016 and one for 2017/2018.

The fields are the following:
*  Unique ID
*  Name
*  City
*  State
*  Zip
*  Admission rate
*  Average SAT score
*  Enrollment
*  CostA
*  CostP

The last two break down cost to public and private universities.  If one is non-null, the other should be null.
If both are null, that's a missing value.  If both are non-null,  use either value.

In [2]:
year1516 = sc.textFile('/FileStore/tables/college/MERGED2015_16_PP.csv')

In [3]:
# Print the first 5 records (unparsed)

In [4]:
#  This is helper code -- the first is because input records will have lots of fields, 
#  and this allows you to access fields by name.
#  For example, if  *record* is a record read in from the file and split on commas, then 
#    *getValue(record, 'zipcode')*  should return the zipcode field for that record

def getValue(record, fieldName):
  labels = ('id', 'name', 'city', 'state', 'zipcode', 'admRate', 'satAvg', 'enrollment', 'costA', 'costP')
  return record[labels.index(fieldName)]

#  Input is a record and field name, which should be the name of a numeric-valued field in the record

def fieldToNumber(record, fieldName):
  try:
    return float(getValue(record, fieldName))
  except:
    return None

In [5]:
# Create an RDD parsed1516 that has the parsed file (i.e. each record is a list of fields)
# and print the first two records.  here is sample output

<pre>
Out[43]: [['100654',
  'Alabama A & M University',
  'Normal',
  'AL',
  '35762',
  '0.653841286',
  '850',
  '4348',
  '20809',
  'NULL'],
 ['100663',
  'University of Alabama at Birmingham',
  'Birmingham',
  'AL',
  '35294-0110',
  '0.604275287',
  '1147',
  '11269',
  '22232',
  'NULL']]
</pre>

In [7]:
# How many records are there in the data set?

In [8]:
# How many records are there from the state of California?

In [9]:
# What percentage of the records have a non-null enrollment?

Getting this far is worth 1 point.  Descend for 2 points

In [11]:
# Here's a helper function that will compute the cost field of a record

def cost(record):
  f1 = fieldToNumber(record, 'costA')
  f2 = fieldToNumber(record, 'costP')
  if f1:
    return f1
  if f2:
    return f2
  return None

In [12]:
# What is the name and cost of the 5 cheapest universities
# What is the name and cost of the 5 most expensive universities

In [13]:
#  Create an RDD with (state, num_universities), and print the first 5

This next one is hard.  5 points if you get it!

In [15]:
# What is the average enrollment per state?  Create an RDD with (state, average_enrollment);  print the 5 states with highest and 5 states with lowest